/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* Global CSS */
h1{
    font-family: 'Major Mono Display', monospace;
    color: rgba(252, 27, 218, 0.754);
    font-size: 8vw;
    margin-top: 6vh;
    font-weight: bold;
}

h2, h3, h4, h5{
    font-family: 'Major Mono Display', monospace;
}

h6, p{
    font-family: 'Nanum Gothic', sans-serif;
}


/* Not for main project */
.mainSection {
    height: auto;
    padding-top: 7%;
    background-image: url("../assets/bg3.jpg");
    background-position: center;
    background-size: cover;

}


/* Bootstrap overrides */

.card {
    height: fit-content;
    width: 100%;
    border-radius: 28px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(100px);
    color: white;
}

.btn-primary {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(252, 27, 218, 0.246);
    backdrop-filter: blur(100px);
    color: white; 
}

.btn-primary:hover {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(252, 27, 218, 0.8);

}

.carousel-item{
    margin-left: 10%;
}


.card-img-top{
    margin: 12px;
    border-radius: 14px;
    width: auto;
    height: 300px;
    object-fit:cover;
}

.navbar{ 
    background-color: rgba(0, 0, 0, 0.10) !important;
    backdrop-filter: blur(100px);
    margin-bottom: -80px;
}
